In [1]:
import sqlite3

db = sqlite3.connect('IMDB.sqlite') # passing path of file
db # A connection object

In [2]:
db = sqlite3.connect('IMDB_1.sqlite') # if path of file which doesnot exist is passed, no error comes
db # A new file is created

In [3]:
db = sqlite3.connect('School.sqlite')
db

In [4]:
cur = db.cursor() # creating a cursor object to execute different queries.
cur

In [5]:
sql_query = 'Create table Student (RollNumber int Primary key, Name Text, Age int)'
cur.execute(sql_query)

In [6]:
cur.execute('Insert into Student values (101, "Aman", 20)')

In [7]:
db.commit()

In [8]:
cur.execute('Insert into Student values (102, "Amit", 21)')

In [9]:
db.commit()

In [10]:
db.close()

In [11]:
cur.execute('Insert into Student values (102, "Amit", 21)')

ProgrammingError: Cannot operate on a closed database.