In [1]:
import sqlite3
db = sqlite3.connect('School.sqlite')
db

In [2]:
cur = db.cursor()
cur

In [3]:
cur.execute('Insert into Student values (103, "Mohit", 24)')

In [4]:
db.commit()

In [5]:
rollNumber = 104
Name = "Nikhil"
age = 34

cur.execute('Insert into Student values (?, ?, ?)', (rollNumber, Name, age))

In [6]:
db.commit()

In [31]:
values = [(105, "Nidhi", 20), (106, "Manisha", 21), (107, "Ankush", 22)]
cur.executemany('Insert into Student values (?, ?, ?)', values)

IntegrityError: UNIQUE constraint failed: Student.RollNumber

In [8]:
db.commit()

In [33]:
cur.execute('Update Student set Age = 30')

In [10]:
db.commit()

In [11]:
cur.execute('Update Student set Age = 20 where RollNumber = 102')
db.commit()

In [38]:
new_age = 50
cur.execute('Update Student set Age = ? where RollNumber = 103', (new_age, )) # , is added to make it a tuple

In [39]:
db.commit()

In [36]:
cur.execute("select * from Student")
print(cur.fetchall())

[(102, 'Amit', 30), (103, 'Mohit', 30), (104, 'Nikhil', 30), (105, 'Nidhi', 30), (106, 'Manisha', 30), (107, 'Ankush', 30)]